@forward "bootstrap/scss/bootstrap";
@forward "icons";
@forward "dropzone/src/dropzone";

.card-auto-size {
  //min-width: 10rem;
  max-width: 13rem;
  //width: 100%;
  width: 20vw;
  min-width: 7rem;
}

.draggable--over {
  border: 0.5rem dotted red;
  transition: .125s ease-in-out;
}
