@forward "bootstrap/scss/bootstrap";
@forward "icons";
@forward "dropzone/src/dropzone";

.card-auto-size {
  width: 250px;
  box-sizing: content-box;
  .card-body {
    canvas {
      cursor: grab;
    }
  }
}

.draggable--over {
  outline: 0.4rem dotted red;
}

.no-border-radius {
  border-radius: 0;
}
