@forward "bootstrap/scss/bootstrap";
@forward "icons";
@forward "dropzone/src/dropzone";

.card-auto-size {
    width: 250px;
    box-sizing: content-box;
    .card-body {
        cursor: grab;
    }
}

.draggable--over {
    outline: 0.4rem dotted red;
}

.draggable--is-dragging,
.draggable--is-dragging * {
    cursor: grabbing !important;
}

.no-border-radius {
    border-radius: 0;
}

.modal-body .single-page-canvas {
    &:active,
    &:hover,
    &:focus {
        outline: 1px black solid;
    }
}
